simtx/docs/simtx_home/xsd/validacao_entradas/SIMTX/MEIOS_DE_ENTRADA/VALIDA_CARTAO/V1/Valida_Cartao_Simtx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://caixa.gov.br/simtx/meios_de_entrada/valida_cartao/v1/valida_cartao"
	xmlns:valida_cartao="http://caixa.gov.br/simtx/meios_de_entrada/valida_cartao/v1/valida_cartao"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	
	<xsd:element name="CARTAO_ENTRADA" type="valida_cartao:dados_entrada_Type" />
	<xsd:element name="CARTAO_SAIDA" type="valida_cartao:dados_saida_Type" />
	
	<xsd:complexType name="dados_entrada_Type">
		<xsd:sequence>
			<xsd:element name="TRILHA" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="37"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TP_ENTRADA" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NUMERO_SEQUENCIAL" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="INFORMACOES_CHIP" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="512"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	
	
	<xsd:complexType name="cartao_comercial_e_Type">
		<xsd:sequence>
			<xsd:element name="TRILHA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="37" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="TP_ENTRADA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="NUMERO_SEQUENCIAL">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="TAMANHO_INFORMACOES_CHIP">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="INFORMACOES_CHIP">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="512" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dados_complementares_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="VALOR_AUTORIZADO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9999999999.99" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="VALOR_TROCO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9999999999.99" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="CODIGO_MOEDA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="ADQUIRENTE">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="99999999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="TERMINAL">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dados_saida_Type">
		<xsd:sequence>
			<xsd:element name="VENCIMENTO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TIPO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="99" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SITUACAO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FLAG_ULTIMA_VIA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="QUANTIDADE_UR">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FLAG_CHIP">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="FLAG_CVV2">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="BANDEIRA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="iso_Type">
		<xsd:sequence>
			<xsd:element default="0" name="CANAL">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element default="0" name="CANAL_ID">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="999999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element default="0" name="CODIGO_PROCESSAMENTO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element default=" " minOccurs="0" name="SENHA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="identificacao_positiva_Type">
		<xsd:sequence>
			<xsd:element default=" " name="CODIGO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element default=" " name="DATA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="motivo_Type">
		<xsd:sequence>
			<xsd:element default=" " name="FLAG_BLOQUEIO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element default=" " name="BLOQUEIO_1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element default=" " name="BLOQUEIO_2">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="senha_Type">
		<xsd:sequence>
			<xsd:element default=" " name="ORIGEM_CADASTRO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element default="0" name="DATA_HISTORICO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dados_cartao_Type">
		<xsd:sequence>
			<xsd:element default="0" name="VIA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="99" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element default=" " name="SITUACAO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element default=" " minOccurs="0" name="TIPO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element default=" " minOccurs="0" name="PRODUTO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dados_entrada_cartao_conta_Type">
		<xsd:sequence>
			<xsd:element name="CARTAO" type="valida_cartao:cartao_comercial_e_Type" />
			<xsd:element minOccurs="0" name="TERMINAL">
				<xsd:annotation>
					<xsd:documentation source="WMQI_DOCUMENTATION">Tipo\sde\sTerminal.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="26" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="REDE_TRANSMISSORA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="DADOS_COMPLEMENTARES"
				type="valida_cartao:dados_complementares_Type" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dados_saida_cartao_cidadao_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="SENHA"
				type="valida_cartao:senha_Type" />
			<xsd:element minOccurs="0" name="CARTAO"
				type="valida_cartao:dados_cartao_Type" />
		</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:complexType name="dados_saida_cartao_inss_Type">
		<xsd:sequence>
			<xsd:element name="BENEFICIOS" type="valida_cartao:beneficios_Type" />
			<xsd:element minOccurs="0" name="CONTA"
				type="valida_cartao:conta_inss_Type" />
			<xsd:element name="FLAG_BIOMETRIA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
						<xsd:enumeration value="SIM" />
						<xsd:enumeration value="NAO" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SITUACAO_PROVA_VIDA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="7" />
						<xsd:enumeration value="VIGENTE" />
						<xsd:enumeration value="VENCIDO" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dados_entrada_cartao_inss_Type">
		<xsd:sequence>
			<xsd:element name="TRILHA">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="37" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="beneficio_Type">
		<xsd:sequence>
			<xsd:element name="NUMERO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9999999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DV">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="conta_inss_Type">
		<xsd:sequence>
			<xsd:element name="UNIDADE">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OPERACAO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NUMERO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="99999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DV">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="beneficios_Type">
		<xsd:sequence>
			<xsd:element maxOccurs="8" minOccurs="1" name="BENEFICIO"
				type="valida_cartao:beneficio_Type" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>