simtx/docs/simtx_home/xsd/validacao_entradas/SIMTX_TYPES/Consulta_Extrato/V1/Consulta_Extrato.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://caixa.gov.br/simtx/consulta_extrato/v1/ns"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:h="http://caixa.gov.br/simtx/comuns/header"
	xmlns:validacartao="http://caixa.gov.br/simtx/meios_de_entrada/valida_cartao/v1/valida_cartao"
	xmlns:validasenha="http://caixa.gov.br/simtx/meios_de_entrada/valida_senha/v1/valida_senha"
	xmlns:validapermissao="http://caixa.gov.br/simtx/meios_de_entrada/valida_permissao/v1/valida_permissao"
	xmlns:comuns="http://caixa.gov.br/simtx/comuns/comuns"	
	xmlns:extrato="http://caixa.gov.br/simtx/consulta_extrato/v1/ns">

	<xsd:import namespace="http://caixa.gov.br/simtx/comuns/header"
		schemaLocation="../../../SIMTX/COMUNS/V1/Header.xsd" />
	<xsd:import namespace="http://caixa.gov.br/simtx/comuns/comuns"
		schemaLocation="../../../SIMTX/COMUNS/V1/Comuns_Simtx.xsd" />
	<xsd:import
		namespace="http://caixa.gov.br/simtx/meios_de_entrada/valida_cartao/v1/valida_cartao"
		schemaLocation="../../../SIMTX/MEIOS_DE_ENTRADA/VALIDA_CARTAO/V1/Valida_Cartao_Simtx.xsd" />
	<xsd:import
		namespace="http://caixa.gov.br/simtx/meios_de_entrada/valida_senha/v1/valida_senha"
		schemaLocation="../../../SIMTX/MEIOS_DE_ENTRADA/VALIDA_SENHA/V1/Valida_Senha_Simtx.xsd" />

	<xsd:element name="CONSULTA_EXTRATO_ENTRADA" type="extrato:consulta_extrato_entrada_Type" />
	<xsd:element name="CONSULTA_EXTRATO_SAIDA" type="extrato:consulta_extrato_saida_Type" />

	<xsd:complexType name="consulta_extrato_entrada_Type">
		<xsd:sequence>
			<xsd:element name="HEADER" type="h:HEADER_ENTRADA_Type"	minOccurs="1" maxOccurs="1" />
			<xsd:element name="CONTA" type="comuns:CONTA_entrada_Type" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CARTAO" type="validacartao:dados_entrada_Type" minOccurs="1" maxOccurs="1" />
			<xsd:element name="CONSULTA_EXTRATO" type="extrato:dados_consulta_extrato_entrada_type" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="consulta_extrato_saida_Type">
		<xsd:sequence>
			<xsd:element name="HEADER" type="h:HEADER_SAIDA_Type" minOccurs="1" maxOccurs="1" />
			<xsd:element name="CONTA" type="comuns:CONTA_saida_Type" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CARTAO" type="validacartao:dados_saida_Type" minOccurs="0" maxOccurs="1" />
			<xsd:element name="CONSULTA_EXTRATO" type="extrato:dados_consulta_extrato_saida_type" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="dados_consulta_extrato_entrada_type">
		<xsd:sequence>
			<xsd:element name="PERIODO_CONSULTA" type="extrato:periodo_consulta_Type" minOccurs="1" maxOccurs="1" />
			<xsd:element name="TIPO_CONSULTA" type="extrato:tipo_consulta_Type" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="periodo_consulta_Type">
		<xsd:sequence>
			<xsd:element name="DATA_INICIO" type="xsd:date" minOccurs="1" maxOccurs="1" />
			<xsd:element name="DATA_FIM" type="xsd:date" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tipo_consulta_Type">
		<xsd:sequence>
			<xsd:element name="FLAG_DADOS_CADASTRAIS" type="xsd:boolean"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="FLAG_LANCAMENTOS" type="xsd:boolean"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="FLAG_SALDOS" type="xsd:boolean"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="FLAG_COMPRAS" type="xsd:boolean"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="FLAG_AGENDAMENTO" type="xsd:boolean"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="FLAG_VALORES_BLOQUEADOS"
				type="xsd:boolean" minOccurs="1" maxOccurs="1" />
			<xsd:element name="FLAG_SALDO_DATA_LIMITE"
				type="xsd:boolean" minOccurs="1" maxOccurs="1" />
			<xsd:element name="FLAG_LANCAMENTOS_DIA" type="xsd:boolean"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="FLAG_SALDO_POUPANCA_VINCULADA" type="xsd:boolean"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="FLAG_LANCAMENTO_POUPANCA_VINCULADA" type="xsd:boolean"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="FLAG_SALDO_POUPANCA_INTEGRADA" type="xsd:boolean"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="FLAG_LANCAMENTO_POUPANCA_INTEGRADA" type="xsd:boolean"
				minOccurs="0" maxOccurs="1" />												
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="dados_consulta_extrato_saida_type">
		<xsd:sequence>
			<xsd:element name="DADOS_CADASTRAIS" type="extrato:dados_cadastrais_saida_Type"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="LANCAMENTOS" type="extrato:lancamentos_saida_Type"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="SALDOS" type="extrato:saldos_saida_Type"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="COMPRAS" type="extrato:compras_saida_Type"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="AGENDAMENTOS" type="extrato:agendamentos_saida_Type"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="VALORES_BLOQUEADOS" type="extrato:valores_bloqueados_saida_Type"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="SALDO_DATA_LIMITE" type="extrato:saldos_data_limite_saida_Type"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="LANCAMENTOS_DIA" type="extrato:lancamento_dia_saida_Type"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="dados_cadastrais_saida_Type">
		<xsd:sequence>
			<xsd:element name="NOME_CLIENTE" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:choice minOccurs="1" maxOccurs="1">
				<xsd:element name="CPF" type="comuns:cpf_format_type" />
				<xsd:element name="CNPJ" type="comuns:cnpj_format_type" />
			</xsd:choice>
			<xsd:element name="NOME_UNIDADE" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DESCRICAO_PRODUTO" type="extrato:descricao_produto_Type"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="lancamentos_saida_Type">
		<xsd:sequence>
			<xsd:element name="LANCAMENTO" minOccurs="0" maxOccurs="unbounded"
				type="extrato:lancamento_saida_Type" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="lancamento_saida_Type">
		<xsd:sequence>
			<xsd:element name="DATA_LANCAMENTO" type="xsd:date"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="NUMERO_DOCUMENTO" minOccurs="1"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"></xsd:minInclusive>
						<xsd:maxInclusive value="999999"></xsd:maxInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DESCRICAO" type="extrato:descricao_Type"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="VALOR" type="comuns:valor_decimal_format_type_12_2"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="SINAL" type="comuns:sinal_valor_type"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="TAXA_PRODUTO" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0"></xsd:minInclusive>
						<xsd:maxInclusive value="999.999999"></xsd:maxInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="APOS" type="extrato:apos_saida_Type" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="apos_saida_Type">
		<xsd:sequence>
			<xsd:element name="SALDO" type="comuns:valor_decimal_format_type_12_2"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="SINAL" type="comuns:sinal_valor_type"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="saldos_saida_Type">
		<xsd:sequence>
			<xsd:element name="SALDO" minOccurs="0" maxOccurs="unbounded"
				type="extrato:saldo_saida_Type" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="saldo_saida_Type">
		<xsd:sequence>
			<xsd:element name="SIGLA" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DESCRICAO" type="extrato:descricao_Type"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="VALOR" type="comuns:valor_decimal_format_type_12_2"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="SINAL" type="comuns:sinal_valor_type"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="compras_saida_Type">
		<xsd:sequence>
			<xsd:element name="LANCAMENTO" minOccurs="0" maxOccurs="unbounded"
				type="extrato:compra_saida_Type" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="compra_saida_Type">
		<xsd:sequence>
			<xsd:element name="DATA" type="xsd:date" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="HORA" type="xsd:time" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="NUMERO_DOCUMENTO" minOccurs="1"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"></xsd:minInclusive>
						<xsd:maxInclusive value="999999"></xsd:maxInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DESCRICAO" type="extrato:descricao_Type"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="VALOR" type="comuns:valor_decimal_format_type_12_2"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="SINAL" type="comuns:sinal_valor_type"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="ESTABELECIMENTO" minOccurs="1"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="agendamentos_saida_Type">
		<xsd:sequence>
			<xsd:element name="LANCAMENTO" minOccurs="0" maxOccurs="unbounded"
				type="extrato:agendamento_saida_Type" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="agendamento_saida_Type">
		<xsd:sequence>
			<xsd:element name="DATA" type="xsd:date" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="NUMERO_DOCUMENTO" minOccurs="1"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"></xsd:minInclusive>
						<xsd:maxInclusive value="999999"></xsd:maxInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DESCRICAO" type="extrato:descricao_Type"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="VALOR" type="comuns:valor_decimal_format_type_12_2"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="SINAL" type="comuns:sinal_valor_type"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="descricao_Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"></xsd:maxLength>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="descricao_produto_Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"></xsd:maxLength>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="valores_bloqueados_saida_Type">
		<xsd:sequence>
			<xsd:element name="VALOR_BLOQUEADO" minOccurs="0"
				maxOccurs="unbounded" type="extrato:valor_bloqueado_saida_Type" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="valor_bloqueado_saida_Type">
		<xsd:sequence>
			<xsd:element name="DATA" type="xsd:date" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="DESCRICAO" type="extrato:descricao_Type"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="VALOR" type="comuns:valor_decimal_format_type_13_2"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="CHAVE" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="saldos_data_limite_saida_Type">
		<xsd:sequence>
			<xsd:element name="SALDO" minOccurs="0" maxOccurs="unbounded"
				type="extrato:saldo_data_limite_saida_Type" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="saldo_data_limite_saida_Type">
		<xsd:sequence>
			<xsd:element name="INDICADOR_REMUNERACAO" minOccurs="1"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:maxInclusive value="9"></xsd:maxInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DIA" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:maxInclusive value="99"></xsd:maxInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MES" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:maxInclusive value="99"></xsd:maxInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
            <xsd:element name="SINAL" type="comuns:sinal_valor_type" minOccurs="1" maxOccurs="1" />
            <xsd:element name="VALOR" type="comuns:valor_decimal_format_type_12_2"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="lancamento_dia_saida_Type">
		<xsd:sequence>
			<xsd:element name="LANCAMENTO" type="extrato:lancamentos_dia_saida_Type"
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="lancamentos_dia_saida_Type">
		<xsd:sequence>
			<xsd:element name="DATA" type="xsd:date" minOccurs="1"
				maxOccurs="1">
			</xsd:element>
			<xsd:element name="NUMERO_DOCUMENTO" minOccurs="1"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:maxInclusive value="999999999999"></xsd:maxInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DESCRICAO" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="VALOR" minOccurs="1" maxOccurs="1"
				type="comuns:valor_decimal_format_type_12_2" />
			<xsd:element name="SINAL" type="comuns:sinal_valor_type"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="APOS" type="extrato:apos_saida_Type"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>