simtx/docs/simtx_home/xsd/validacao_entradas/SIBAR/MEIOS_DE_ENTRADA/V1/VALIDA_CARTAO/Valida_Cartao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://caixa.gov.br/sibar/valida_cartao"
	xmlns:sibar_base="http://caixa.gov.br/sibar" 
	xmlns:soapenv11="http://schemas.xmlsoap.org/soap/envelope/"
	xmlns:valida_cartao="http://caixa.gov.br/sibar/valida_cartao"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:import namespace="http://caixa.gov.br/sibar" schemaLocation="../MensagensBarramento.xsd"/>
    
    <xsd:complexType name="servico_entrada_negocial_Type">
    <xsd:complexContent>
      <xsd:extension base="sibar_base:SERVICO_ENTRADA_TYPE">
        <xsd:sequence>
          <xsd:element name="DADOS" type="valida_cartao:dados_entrada_Type"/>
                </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="servico_saida_negocial_Type">
    <xsd:complexContent>
      <xsd:extension base="sibar_base:SERVICO_SAIDA_TYPE">        <xsd:sequence>
          <xsd:element name="DADOS" type="valida_cartao:dados_saida_Type"/>
        </xsd:sequence>                  </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="dados_entrada_Type">
    <xsd:sequence>
            <xsd:choice>
        <xsd:element name="CARTAO_COMERCIAL" type="valida_cartao:dados_entrada_cartao_conta_Type"/>
        <xsd:element name="CARTAO_CIDADAO" type="valida_cartao:dados_entrada_cartao_cidadao_Type"/>
                <xsd:element name="CARTAO_INSS" type="valida_cartao:dados_entrada_cartao_inss_Type"/>
            </xsd:choice>
        </xsd:sequence>
          
                    
    </xsd:complexType>
    <xsd:complexType name="dados_saida_Type">
    <xsd:complexContent>
      <xsd:extension base="sibar_base:DADOS_SAIDA_TYPE">
                <xsd:sequence>
                    <xsd:choice>
            <xsd:element name="CARTAO_COMERCIAL" type="valida_cartao:dados_saida_cartao_comercial_Type"/>
                        <xsd:element name="CARTAO_INSS" type="valida_cartao:dados_saida_cartao_inss_Type"/>
                    </xsd:choice>
                </xsd:sequence>
                  
            </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="cartao_comercial_e_Type">
    <xsd:sequence>
      <xsd:element name="TRILHA">
                <xsd:annotation>
          <xsd:documentation source="WMQI_DOCUMENTATION">TRILHA\s2\sCAPTURADA\sDO\sCARTAO\sMAGNETICO\sNO\sMOMENTO\sDA\sTRANSACAO</xsd:documentation>
        </xsd:annotation>
                <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="37"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="TP_ENTRADA">
        <xsd:annotation>
          
        <xsd:documentation source="WMQI_DOCUMENTATION">Modo\sde\sEntrada\r\n\r\nDominio:\r\n011\s\sTransacao\ssem\scartao;\r\n021\s\sTransacao\scom\sCartao\scom\sTarja\sMagnetica;\r\n051\s\sTransacao\scom\sCartao\scom\sChip.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="NUMERO_SEQUENCIAL">
        <xsd:annotation>
          
        <xsd:documentation source="WMQI_DOCUMENTATION">NUMERO\sDO\sPAN\sDO\sCARTAO.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="TAMANHO_INFORMACOES_CHIP">
        <xsd:annotation>
          
        <xsd:documentation source="WMQI_DOCUMENTATION">OBS.:\sCAMPO\sCONHECIDO\sNO\sISO\sCOMO\sBIT55.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="INFORMACOES_CHIP">
                <xsd:annotation>
          <xsd:documentation source="WMQI_DOCUMENTATION">OBS.:\sCAMPO\sCONHECIDO\sNO\sISO\sCOMO\sBIT55.</xsd:documentation>
        </xsd:annotation>
                <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="512"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
        </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="dados_complementares_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VALOR_AUTORIZADO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999999999.99"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="VALOR_TROCO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999999999.99"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="CODIGO_MOEDA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="ADQUIRENTE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99999999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="TERMINAL">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="8"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="conta_Type">
    <xsd:sequence>
      <xsd:element name="UNIDADE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OPERACAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NUMERO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="99999999"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DV">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TITULAR">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="conta_nsgd_Type">
    <xsd:sequence>
      <xsd:element name="UNIDADE">
                <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
            </xsd:element>
      <xsd:element name="PRODUTO">
                <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
            </xsd:element>
      <xsd:element name="NUMERO">
                <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12"/>
          </xsd:restriction>
        </xsd:simpleType>
            </xsd:element>
      <xsd:element name="DV">
                <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
            </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cartao_saida_Type">
    <xsd:sequence>
      <xsd:element name="VENCIMENTO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TIPO">
        <xsd:annotation>
          
        <xsd:documentation source="WMQI_DOCUMENTATION">TIPO\sDO\sCARTAO.\r\n\r\nDominio:\r\n00\s-\sCONTA\sSEM\sCARTAO\r\n01\s-\sCARTAO\sBANCO\s24\sHORAS\r\n02\s-\sCARTAO\sMULTIPLO\r\n03\s-\sCARTAO\sOCRE\r\n04\s-\sCARTAO\sPOUPANCA\r\n05\s-\sCARTAO\sCONSTRUCARD\r\n06\s-\sCARTAO\sCONSTRUCARD-FGTS\r\n07\s-\sMAESTRO\sAZUL\r\n08\s-\sMAESTRO\sOCRE\r\n09\s-\sMAESTRO\sPOUPANCA\r\n10\s-\sVISA\sELECTRON\sAZUL\r\n11\s-\sVISA\sELECTRON\sOCRE\r\n12\s-\sVISA\sELECTRON\sPOUPANCA\r\n13\s-\sELO\sELECTRON\sAZUL\r\n14\s-\sELO\sELECTRON\sOCRE\r\n15\s-\sELO\sELECTRON\sPOUPANCA\r\n31\s-\sPRODUCARD\sPESSOA\sFISICA\r\n32\s-\sPRODUCARD\sPESSOA\sJURIDICA\r\n33\s-\sMOVEISCARD\s(OP.\s168)\r\n50\s-\sCARTAO\sDE\sCREDITO\sCAIXA</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="SITUACAO">
        <xsd:annotation>
          
        <xsd:documentation source="WMQI_DOCUMENTATION">SITUACAO\sDO\sCARTAO.\r\n\r\nDominio:\r\n0\s\s-\sATIVO\r\n2\s\s-\sBLOQUEADO\r\n6\s\s-\sCANCELADO</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="FLAG_ULTIMA_VIA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="QUANTIDADE_UR">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="FLAG_CHIP">
        <xsd:annotation>
          
        <xsd:documentation source="WMQI_DOCUMENTATION">IDENTIFICA\sCARTAO\sCOM\sOU\sSEM\sCHIP.\r\n\r\nDominio:\r\n0\s\sSEM\sCHIP\r\n1\s\sCOM\sCHIP\sEMV\s+\sPKI\r\n2\s\sCOM\sCHIP\sEMV</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="FLAG_CVV2">
                <xsd:annotation>
          <xsd:documentation source="WMQI_DOCUMENTATION">IDENTIFICA\sCONTROLE\sDE\sCARTAO.\r\n\r\nDominio:\r\nN\s-\sSEM\sCVV2\r\nS\s-\sCOM\sCVV2</xsd:documentation>
        </xsd:annotation>
                <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="BANDEIRA">
                <xsd:annotation>
          <xsd:documentation source="WMQI_DOCUMENTATION">IDENTIFICA\sA\sBANDEIRA\sDO\sCARTAO.\r\n\r\nDominio:\r\nM\s-\sCARTAO\sMAESTO\r\nV\s-\sCARTAO\sVISA\r\nE\s-\sCARTAO\sELO</xsd:documentation>
        </xsd:annotation>
                <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SERVICO_ENTRADA" type="valida_cartao:servico_entrada_negocial_Type">
    </xsd:element>
  <xsd:element name="SERVICO_SAIDA" type="valida_cartao:servico_saida_negocial_Type">
    </xsd:element>
    <xsd:complexType name="cartao_cidadao_Type">
    <xsd:sequence>
            <xsd:element default=" " name="TRILHA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="38"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
        </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="iso_Type">
    <xsd:sequence>
      <xsd:element default="0" name="CANAL">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="CANAL_ID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="CODIGO_PROCESSAMENTO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " minOccurs="0" name="SENHA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="identificacao_positiva_Type">
    <xsd:sequence>
      <xsd:element default=" " name="CODIGO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="DATA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="motivo_Type">
    <xsd:sequence>
            <xsd:element default=" " name="FLAG_BLOQUEIO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
            <xsd:element default=" " name="BLOQUEIO_1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="BLOQUEIO_2">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="senha_Type">
    <xsd:sequence>
      <xsd:element default=" " name="ORIGEM_CADASTRO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" name="DATA_HISTORICO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="dados_cartao_Type">
    <xsd:sequence>
      <xsd:element default="0" name="VIA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " name="SITUACAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " minOccurs="0" name="TIPO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default=" " minOccurs="0" name="PRODUTO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
	<xsd:complexType name="dados_entrada_cartao_cidadao_Type">
		<xsd:sequence>
			<xsd:element default="0" name="CANAL">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element default="0" name="NIS">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="99999999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CARTAO" type="valida_cartao:cartao_cidadao_Type" />
		</xsd:sequence>
	</xsd:complexType>
    <xsd:complexType name="dados_entrada_cartao_conta_Type">
    <xsd:sequence>
      <xsd:element name="CARTAO" type="valida_cartao:cartao_comercial_e_Type"/>
      <xsd:element minOccurs="0" name="TERMINAL">
                <xsd:annotation>
          <xsd:documentation source="WMQI_DOCUMENTATION">Tipo\sde\sTerminal.</xsd:documentation>
        </xsd:annotation>
                <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="26"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="REDE_TRANSMISSORA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
                        <xsd:minInclusive value="0"/>
                        <xsd:maxInclusive value="9999"/>
                    </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="DADOS_COMPLEMENTARES" type="valida_cartao:dados_complementares_Type"/>
        </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="dados_saida_cartao_cidadao_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="SENHA" type="valida_cartao:senha_Type"/>
      <xsd:element minOccurs="0" name="CARTAO" type="valida_cartao:dados_cartao_Type"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="dados_saida_cartao_comercial_Type">
        <xsd:sequence>
      <xsd:element minOccurs="0" name="CONTA" type="valida_cartao:conta_Type"/>
      <xsd:element minOccurs="0" name="CARTAO" type="valida_cartao:cartao_saida_Type"/>
      <xsd:element default=" " minOccurs="0" name="FLAG_CONTA_MIGRADA" nillable="true">
                <xsd:annotation>
          <xsd:documentation source="WMQI_DOCUMENTATION">INDICADOR\sSE\sA\sCONTA\sJA\sFOI\sMIGRADA\sPARA\sO\sPADRAO\sNSGD.\r\n\r\nDominio:\r\nN\s-\sCONTA\sNAO\sMIGRADA\r\nP\s-\sCONTA\sEM\sPROCESSO\sDE\sMIGRACAO\r\nS\s-\sCONTA\sMIGRADA</xsd:documentation>
        </xsd:annotation>
                <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="CONTA_NSGD" type="valida_cartao:conta_nsgd_Type"/>
    </xsd:sequence>
        
                  
            
    </xsd:complexType>
    <xsd:element name="VALIDA_CARTAO_ENTRADA" type="valida_cartao:dados_entrada_Type"/>
    <xsd:element name="VALIDA_CARTAO_SAIDA" type="valida_cartao:dados_saida_Type"/>
    <xsd:complexType name="dados_saida_cartao_inss_Type">
    <xsd:sequence>
            <xsd:element name="BENEFICIOS" type="valida_cartao:beneficios_Type"/>
      <xsd:element minOccurs="0" name="CONTA" type="valida_cartao:conta_inss_Type"/>
      <xsd:element name="FLAG_BIOMETRIA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
            <xsd:enumeration value="SIM"/>
            <xsd:enumeration value="NAO"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="SITUACAO_PROVA_VIDA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="7"/>
            <xsd:enumeration value="VIGENTE"/>
            <xsd:enumeration value="VENCIDO"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
        </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="dados_entrada_cartao_inss_Type">
    <xsd:sequence>
      <xsd:element name="TRILHA">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="37"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="beneficio_Type">
    <xsd:sequence>
      <xsd:element name="NUMERO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DV">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="conta_inss_Type">
    <xsd:sequence>
      <xsd:element name="UNIDADE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OPERACAO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NUMERO">
        <xsd:simpleType>
          <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="99999999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DV">
        <xsd:simpleType>
          <xsd:restriction base="xsd:short">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="beneficios_Type">
    <xsd:sequence>
      <xsd:element maxOccurs="8" minOccurs="1" name="BENEFICIO" type="valida_cartao:beneficio_Type"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema><!-- Envelope, header and body --><!-- Global Attributes.  The following attributes are intended to be usable via qualified attribute names on any complex type referencing them.  -->