simtx/docs/simtx_home/xsd/validacao_entradas/SIBAR/NEGOCIAL/V1/Solicitacao_Debito.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://caixa.gov.br/sibar/solicitacao_debito"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	xmlns:sibar_base="http://caixa.gov.br/sibar" 
	xmlns:solicitacaodebito="http://caixa.gov.br/sibar/solicitacao_debito">

	<xsd:import namespace="http://caixa.gov.br/sibar" schemaLocation="../../MEIOS_DE_ENTRADA/V1/MensagensBarramento.xsd"/>

	<xsd:element name="SERVICO_ENTRADA" type="solicitacaodebito:servico_entrada_negocial_Type"/>

	<xsd:element name="SERVICO_SAIDA" type="solicitacaodebito:servico_saida_negocial_Type" />

	<xsd:complexType name="servico_saida_negocial_Type">
		<xsd:complexContent>
			<xsd:extension base="sibar_base:SERVICO_SAIDA_TYPE">
				<xsd:sequence>
					<xsd:element name="DADOS" type="solicitacaodebito:dados_saida_negocial_Type" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="servico_entrada_negocial_Type">
		<xsd:complexContent>
			<xsd:extension base="sibar_base:SERVICO_ENTRADA_TYPE">
				<xsd:sequence>
					<xsd:element name="DADOS" type="solicitacaodebito:dados_entrada_negocial_Type" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="dados_entrada_negocial_Type">
		<xsd:sequence>
			<xsd:element name="TIPO_SOLICITACAO" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="SOLICITACAO"></xsd:enumeration>
						<xsd:enumeration value="CONFIRMACAO"></xsd:enumeration>
						<xsd:enumeration value="DESFAZIMENTO"></xsd:enumeration>
						<xsd:enumeration value="ESTORNO"></xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SIGLA_SERVICO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"></xsd:maxLength>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CONTA"
				type="solicitacaodebito:conta_Type" />
			<xsd:element name="VALOR_TRANSACAO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9999999999999.99">
						</xsd:maxInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DATA_EFETIVACAO" type="xsd:date" />
			<xsd:element name="NSU_CANAL">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="999999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SISTEMA_DESTINO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="5" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TIPO_AUTENTICACAO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="AUTENTICACAO_SIMPLES" />
						<xsd:enumeration value="CERTIFICADO_DIGITAL" />
						<xsd:enumeration value="QRCODE" />
						<xsd:enumeration value="LIMITE_DIFERENCIADO" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="COMPLEMENTO_SERVICO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="TERMINAL"
				type="solicitacaodebito:terminal_Type" />
			<xsd:element minOccurs="0" name="DOCUMENTO_PARA_DEBITO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="0" name="FAVORECIDO"
				type="solicitacaodebito:favorecido_Type" />
			<xsd:element name="DADOS_CONFIRMACAO"
				type="solicitacaodebito:dados_original_Type" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="conta_Type">
		<xsd:sequence>
			<xsd:element name="UNIDADE">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="99999">
						</xsd:maxInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PRODUTO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="NUMERO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="999999999999">
						</xsd:maxInclusive>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DV">
				<xsd:simpleType>
					<xsd:restriction base="xsd:short">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="9" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="favorecido_Type">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="CPF">
					<xsd:simpleType>
						<xsd:restriction base="xsd:long">
							<xsd:minInclusive value="0" />
							<xsd:maxInclusive value="99999999999">
							</xsd:maxInclusive>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="CNPJ">
					<xsd:simpleType>
						<xsd:restriction base="xsd:long">
							<xsd:minInclusive value="0" />
							<xsd:maxInclusive value="99999999999999">
							</xsd:maxInclusive>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="terminal_Type">
		<xsd:sequence>
			<xsd:element name="CODIGO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="dados_original_Type">
		<xsd:sequence>
			<xsd:element name="NSU_TRANSACAO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="999999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DATA_TRANSACAO" type="xsd:date" />
			<xsd:element name="NSU_EFETIVACAO">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0" />
						<xsd:maxInclusive value="999999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="dados_saida_negocial_Type">
		<xsd:complexContent>
			<xsd:extension base="sibar_base:DADOS_SAIDA_TYPE">
				<xsd:sequence>
					<xsd:element name="NSU_TRANSACAO" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:minInclusive value="0" />
								<xsd:maxInclusive value="999999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="DATA_TRANSACAO" type="xsd:date" minOccurs="0" />
					<xsd:element name="NSU_EFETIVACAO" minOccurs="0">
						<xsd:simpleType>
							<xsd:restriction base="xsd:int">
								<xsd:minInclusive value="0" />
								<xsd:maxInclusive value="999999999" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

    <xsd:element name="SOLICITACAO_DEBITO_ENTRADA" type="solicitacaodebito:dados_entrada_negocial_Type"></xsd:element>

    <xsd:element name="SOLICITACAO_DEBITO_SAIDA" type="solicitacaodebito:dados_saida_negocial_Type"></xsd:element>
</xsd:schema>